* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    height: 5rem;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.master {   
    background-image: url(imagens/adult-1850925.jpg); 
    height: 100rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    max-width: 100%;    
}

.navegacao {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
    font-size: 20px;
    text-decoration: none;    
}

li {
    list-style-type: none;
    text-decoration: underline;
  }

.name {
    margin-top: 1.2rem;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}
 li {
    text-decoration-line: none;
 }

.texto {
    text-align: center;
    color: white;
    width: 58rem;
    font-size: 2rem;
    margin-top: 18rem;

}

.botoes {
    text-align: center;
    margin-top: 8rem;
}

.botoes input {
    background-color: rgba(243, 243, 237, 0.507);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: navajowhite;
    font: normal solid;
    width: 13rem;
    text-transform: uppercase;
    white-space: pre-wrap;
}

.caixa_planos {
    display: flex;
    align-items: center;    
    gap: 5rem;
    margin-top: 10rem;   
    padding: 10px; 
    color: white;
    font-size: 30px;
}

#txt1 {
    margin-top: 12rem;
}

.basic {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    background-color:rgba(184, 185, 185, 0.164);
    border-radius: 10px;
}

.plus {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    background-color:rgba(184, 185, 185, 0.164);
    border-radius: 10px;
}

.extreme {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    background-color:rgba(184, 185, 185, 0.164);
    border-radius: 10px;
}


.video {
    display: flex;
    align-items: center;
    height: 60rem;
}

iframe {
    width: 50vw;
    height: 60vh;
  }
