* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    
    
}

header {
    display: flex;
    background-color: rgb(2, 2, 2);
    height: 5rem;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.container {
    background-image: url(imagens/training-828741.jpg);
    height: 60rem;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;    
    margin-top: 0;
}

.navegacao {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
    font-size: 20px;
    text-decoration: none;    
}

li {
    list-style-type: none;
    text-decoration: underline;
  }

.name {
    margin-top: 1.2rem;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}
 li {
    text-decoration-line: none;
 }

.texto {
    text-align: center;
    color: white;
    width: 58rem;
    font-size: 2rem;
}

.botoes {
    text-align: center;
    margin-top: 4rem;
}

.botoes input {
    background-color: rgba(243, 243, 237, 0.507);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: navajowhite;
    font: normal solid;
    width: 13rem;
    text-transform: uppercase;
    white-space: pre-wrap;
}

.planos {
    background-image: url(imagens/woman-2260736.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;    
    display: flex;
    height: 60rem;
    align-items: center;
    color: white;
    text-align: center;
}

.caixa_planos {
    display: flex;
    align-items: center;    
    gap: 5rem;
    
}

.basic {
    width: 20rem;
    height: 30rem;
    background-color:rgba(78, 153, 153, 0.164);
}

.plus {
    width: 20rem;
    height: 30rem;
    background-color:rgba(78, 153, 153, 0.164);
}

.extreme {
    width: 20rem;
    height: 30rem;
    background-color:rgba(78, 153, 153, 0.164);
}

